<template>
  <div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h1 class="display-3">Обмен валют</h1>
        </div>
        <div class="row">
          <ul class="list-group list-group-horizontal" style="text-align: center">
            <li class="list-group-item" v-for="item in currs">
<!--              <a href="#" @click.prevent="getCurrBank(item.id)">{{ item.params.title }}</a>-->
              <a href="#" @click.prevent="getBankById(item.id)">{{ item.params.title }}</a>
<!--              {{item.id}}-->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <h5 class="my-tytle">{{ currBank.params.title }}</h5>
            </div>
          </div>
          <div class="my-box-body">
            <div style="height:1rem;">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-lg-4">Bid</div>
                <div class="col-lg-4">Ask</div>
              </div>
            </div>
            {{ currBank  }}
            <div class="card-body col3" v-for="(valuta, i) in currBank.params.valuta">
              <div class="row">
                <div class="col-md-4 col1 vpcol4" :title="valuta.name">{{ valuta.type }}</div>
                <div class="col-lg-4 col2">{{ valuta.bid }}</div>
                <div class="col-lg-4 col1">{{ valuta.ask }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <h5 class="my-tytle">Конвертер валют</h5>
            </div>
          </div>
          <div class="my-box-body">
            <div class="row">
              <div class="col-md-4 col1 vpcol4">1</div>
              <div class="col-lg-4 col2">2</div>
              <div class="col-lg-4 col1"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </div>

<!--    </main>-->
<!--  </div>-->
</template>

<script>
  import UserService from '../UserService.js';
  import _ from 'lodash';
  import $ from "jquery";

  export default {
    data() {
      return {
        // currs0: [{"id":"7oiylpmiow8iy1smaze","params":{"id":"7oiylpmiow8iy1smaze","title":"\u0410-\u0411\u0430\u043d\u043a","valuta":{"EUR":{"type":"EUR","name":"\u0415\u0412\u0420\u041e","bid":"29.1000","ask":"29.9000"},"RUB":{"type":"RUB","name":"\u0440\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u0438\u0435 \u0440\u0443\u0431\u043b\u0438","bid":"0.3430","ask":"0.3630"},"USD":{"type":"USD","name":"\u0434\u043e\u043b\u043b\u0430\u0440\u044b \u0421\u0428\u0410","bid":"27.0000","ask":"27.6000"}},"date":"2020-04-06T13:17:05+03:00"}},{"id":"7oiylpmiow8iy1smbvy","params":{"id":"7oiylpmiow8iy1smbvy","title":"\u0411\u0430\u043d\u043a \u0421\u0438\u0447","valuta":{"EUR":{"type":"EUR","name":"\u0415\u0412\u0420\u041e","bid":"29.0000","ask":"29.3500"},"GBP":{"type":"GBP","name":"\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0435 \u0444\u0443\u043d\u0442\u044b \u0441\u0442\u0435\u0440\u043b\u0438\u043d\u0433\u043e\u0432","bid":"29.5000","ask":"33.0000"},"PLN":{"type":"PLN","name":"\u043f\u043e\u043b\u044c\u0441\u043a\u0438\u0435 \u0437\u043b\u043e\u0442\u044b\u0435","bid":"5.8000","ask":"6.3500"},"RUB":{"type":"RUB","name":"\u0440\u043e\u0441\u0441\u0438\u0439\u0441\u043a\u0438\u0435 \u0440\u0443\u0431\u043b\u0438","bid":"0.3200","ask":"0.3550"},"USD":{"type":"USD","name":"\u0434\u043e\u043b\u043b\u0430\u0440\u044b \u0421\u0428\u0410","bid":"27.0000","ask":"27.3000"}},"date":"2020-04-06T13:17:05+03:00"}}],
        currs: [],
        counter: 0,
        currBank: this.getBankById('7oiylpmiow8iy1smaze')(),
        bankId: '7oiylpmiow8iy1smaze'
      }
    },
    created() {
      let that = this;
      let url = 'http://simpl1.loc/curl.php';
      // $.get( "http://simpl1.loc/curl.php", function( data ) {
      //   console.log(data);
      //   that.currs = data;
      // });

      // $.ajax({
      //   url: url,
      //   type: 'GET',
      //   dataType: 'json',
      //   headers: {
      //     "Access-Control-Allow-Origin":"http://simpl1.loc"
      //   },
      //   contentType: 'application/json; charset=utf-8',
      //   success: function (result) {
      //     // console.log(result);
      //     that.currs = result;
      //   },
      //   error: function (error) {
      //     console.log(error);
      //   }
      // });


      $.get( url, function() {
        // alert( "success" );
        that.currs = result;
      }, 'json')
        .done(function() {
          // alert( "second success" );
          console.log("second success");
          that.getBankById(this.bankId)();
        })
        .fail(function() {
          alert( "error" );
        });

      // this.getBankById(this.bankId);


      // $.get( "http://simpl1.loc/curl.php")
      //   .then(function(response){
      //     self.currs = response;
      //     // console.log(response);
      //   }).catch(function (error) {
      //   console.log(error);
      // });
      // this.currs = UserService.currs1;
    },
    methods: {
      getBankById(bankId) {
        let that = this;
        return function () {
          that.currBank = _.find(that.currs, {id:bankId});
        }
        // this.currBank = _.find(this.currs, {id:bankId});
      },
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .vp1 {
    color: #42b983;
    padding-top: 10px;
  }
  .vp2 {
    /*color: darkgray;*/
    padding-top: 10px;
    background: gainsboro;
    height:3rem;
  }
  .vp3 {
    color: darkgray;
    padding-top: 10px;
    background: darkgray;
    height:3rem;
  }
  .col1 {
    background:antiquewhite;
    height:3rem;
    padding-top: 10px;

  }
  .col2 {
    background: gainsboro;
    height:3rem;
    padding-top: 10px;
  }
  .col3 {
    height:3rem;
    margin-top: 2px;
  }
  .vpcol4:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
    background-color: darkseagreen; /* Цвет фона активного пункта */
    cursor: help;
  }
  .my-tytle {
    color: #42b983;
    background-color: gainsboro;
    height:3rem;
    padding-top: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  .my-box-body {
    border: 1px solid lightgray;
    border-radius: 4px;
    height:22rem;
    padding-right: -5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
</style>
