<template>
  <div>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h1 class="display-3">Обмен валют</h1>
        </div>
        <div class="row">
          <ul class="list-group list-group-horizontal" style="text-align: center">
            <li class="list-group-item" v-for="item in currs">
              <a href="#" @click.prevent="getBankById(item.id)">{{ item.params.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <h5 class="my-tytle">{{ currBank.params.title }}</h5>
            </div>
          </div>
          <div class="my-box-body">
            <div style="height:1rem;">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-lg-4">Bid</div>
                <div class="col-lg-4">Ask</div>
              </div>
            </div>
<!--            {{ currs  }}-->
            <div class="card-body col3" v-for="(valuta, i) in currBank.params.valuta">
              <div class="row">
                <div class="col-md-4 col1 vpcol4" :title="valuta.name">{{ valuta.type }}</div>
                <div class="col-lg-4 col2">{{ valuta.bid }}</div>
                <div class="col-lg-4 col1">{{ valuta.ask }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-md-12">
              <h5 class="my-tytle">Конвертер валют</h5>
            </div>
          </div>
          <div class="my-box-body">
            <div class="row">
              <div class="col-md-4 col1 vpcol4">1</div>
              <div class="col-lg-4 col2">2</div>
              <div class="col-lg-4 col1"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </div>

<!--    </main>-->
<!--  </div>-->
</template>

<script>
  import UserService from '../UserService.js';
  import _ from 'lodash';
  import $ from "jquery";
  // import axios from 'axios';

  export default {
    data() {
      return {
        currs: [],
        currBank: {},
        bankId: '7oiylpmiow8iy1smaze'
      }
    },
    created() {
      let self = this;
      this.getCurr(function resolve(){
        self.getBankById(self.bankId,self);
      });
    },
    // mounted() {
    //   axios.get(url)
    //     .then((response) => {
    //       this.currs = response;
    //       console.log(response)
    //     })
    //     .catch((error) => console.log(error.response));
    // },
    // watch: {
    //   getBankFirst(bankId) {
    //     this.currBank = _.find(this.currs, {id:bankId});
    //     // console.log(bank);
    //   }
    // },
    methods: {
      getCurr(resolve) {
        let self = this;
        let url = 'http://simpl1.loc/curl.php';
        $.ajax({
          url: url,
          type: 'GET',
          dataType: 'json',
          headers: {
            "Access-Control-Allow-Origin":"http://simpl1.loc"
          },
          contentType: 'application/json; charset=utf-8',
          success: function (result) {
            // console.log(result);
            self.currs = result;
            resolve(result);
            // self.getBankById(self.bankId);
          },
          error: function (error) {
            console.log(error);
          }
        });
      },
      getBankById(bankId) {
        this.currBank =  _.find(this.currs, {id:bankId});
      },
      getBankByIdStart(bankId, self) {
        self.currBank =  _.find(self.currs, {id:bankId});
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .vp1 {
    color: #42b983;
    padding-top: 10px;
  }
  .vp2 {
    /*color: darkgray;*/
    padding-top: 10px;
    background: gainsboro;
    height:3rem;
  }
  .vp3 {
    color: darkgray;
    padding-top: 10px;
    background: darkgray;
    height:3rem;
  }
  .col1 {
    background:antiquewhite;
    height:3rem;
    padding-top: 10px;

  }
  .col2 {
    background: gainsboro;
    height:3rem;
    padding-top: 10px;
  }
  .col3 {
    height:3rem;
    margin-top: 2px;
  }
  .vpcol4:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
    background-color: darkseagreen; /* Цвет фона активного пункта */
    cursor: help;
  }
  .my-tytle {
    color: #42b983;
    background-color: gainsboro;
    height:3rem;
    padding-top: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  .my-box-body {
    border: 1px solid lightgray;
    border-radius: 4px;
    height:22rem;
    padding-right: -5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
</style>
