<template>
  <div id="app">
    <Header :page="page"></Header>
    <router-view></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
  import Header from './tamplates/Header';
  import Footer from './tamplates/Footer';

  export default {
    name: 'app',
    components: {
      Header,
      Footer
    },
    created() {
      this.getMyRout();
    },
    updated() {
      this.getMyRout();
      // console.log(this.$route.params);
      // console.log(this.$route.path);
      // console.log(this.$route.name);
    },
    data () {
      return {
        msg: 'Welcome to Your Vue.js App',
        page: 'home'
      }
    },
    methods:{
      getMyRout(){
        if(this.$route.path){
          if(this.$route.path == '/'){
            this.page = 'home';
          } else if(this.$route.path == '/culc'){
            this.page = 'culc';
          } else if(this.$route.path == '/culcLoc'){
            this.page = 'culcLoc';
          } else if(this.$route.path == '/wether'){
            this.page = 'wether';
          } else {
            this.page = 'home';
          }
        }
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0px;
}

a {
  color: #42b983;
}
</style>
