<template>
  <div>
    <b style="color: #42b983">Hi! Ira</b>
    <form action="">
      <div class="form-group">
        <input type="text">
      </div>
    </form>
  </div>
</template>

<script>
  export default {
  }
</script>
