<template>
  <div>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Проект создан в учебных целях</h1>
          <p>Ниже представлены ссылки на сайты выполненные на Laravel 6, Symfony 3 и OpenCart в тестовых целях</p>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>jurist.lar</h2>
            <p>Проект на Laravel 6</p>
            <p><a class="btn btn-secondary" href="http://jurist.lar" role="button" target="_blank">Перейти &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>jurist.sf</h2>
            <p>Проект на Symfony 3</p>
            <p><a class="btn btn-secondary" href="http://jurist.sf/app_dev.php" role="button" target="_blank">Перейти &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>shop.webcart.com.ua</h2>
            <p>Проект на Opencart</p>
            <p><a class="btn btn-secondary" href="http://shop.webcart.com.ua" role="button" target="_blank">Перейти &raquo;</a></p>
          </div>
        </div>
        <br>
        <a class="btn btn-outline-success" type="button" @click="emitUser">Show User</a>
        <a class="btn btn-outline-success" type="button" @click="emitUserFromService">Show User From Service</a>
        <br>
        <br>
      </div> <!-- /container -->

    </main>
  </div>
</template>

<script>
  import UserService from '../UserService.js';

  export default {
    data() {
      return {
        users: [],
        counter: 0
      }
    },
    created() {
      this.users = UserService.users;
    },
    methods: {
      logUsers() {
        return JSON.stringify(this.users);
      },
      emitUser(){
        let id = 1;
        let userSelected = UserService.getUserById(id);
        this.$emit('showUser', userSelected);
      },
      emitUserFromService(){
        let id = 2;
        let userSome = UserService.getUserByIdFromService(id);
      }
    }
  }
</script>
