<template>
  <div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h1 class="display-3">Обмен валют</h1>
        </div>
        <div class="row">
          <ul class="list-group list-group-horizontal" style="text-align: center">
            <li class="list-group-item" v-for="item in currs">
              <a href="#" @click.prevent="getBankById(item.id)">{{ item.params.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
<!--      <div>{{currBank}}</div>-->
      <div v-if="currBank.params">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <h5 class="my-tytle">{{ currBank.params.title }} <span class="col4">({{ currBank.params.date | formatDate }})</span></h5>
              </div>
            </div>
            <div class="my-box-body">
              <div style="height:1rem;">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-lg-4">Покупка</div>
                  <div class="col-lg-4">Продажа</div>
                </div>
              </div>
              <div class="card-body col3" v-for="(valuta, i) in currBank.params.valuta">
                <div class="row">
                  <div class="col-md-4 col1 vpcol4" :title="valuta.name">{{ valuta.type }}</div>
                  <div class="col-lg-4 col2">{{ valuta.bid }}</div>
                  <div class="col-lg-4 col1">{{ valuta.ask }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-12">
                <h5 class="my-tytle">Конвертер валют</h5>
              </div>
            </div>
            <div class="my-box-body">
              <div style="height:2rem;">
                <div class="row">
                  <div class="col-md-4">Сдать</div>
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">Получить</div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col1 vpcol4">
                  <select v-model="selectedFrom">
                    <option value="">UAH</option>
                    <option v-for="val in valutaArr" :value="val" :title="getValutaName(val)">{{ val }}</option>
                  </select>
                </div>
                <div class="col-lg-2 col2a"></div>
                <div class="col-lg-5 col1">
                  <select v-model="selectedTo">
                    <option value="">UAH</option>
                    <option v-for="val in valutaArr" :value="val" :title="getValutaName(val)">{{ val }}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col1">
                  <input type="number" v-model="sum" style="width: 150px">
                </div>
                <div class="col-lg-2 col2a"></div>
                <div class="col-lg-5 col1">
                  <input type="text" :value="getRes" style="width: 150px">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </div>
</template>

<script>
  import Config from '../ConfigService.js';
  import _ from 'lodash';
  import $ from "jquery";
  // import axios from 'axios';
  //https://cors-anywhere.herokuapp.com/  //Cross Proxy

  export default {
    data() {
      return {
        sum: 0,
        sumGet: 0,
        selectedFrom: '',
        selectedTo: '',
        valuteFrom: 'UAH',
        valuteTo: 'USD',
        currs: [],
        currBank: {},
        bankId: '7oiylpmiow8iy1smaze'
        // bankId: '7oiylpmiow8iy1smb4r'
      }
    },
    created() {
      let self = this;
      this.getCurr(function resolve(){
        self.getBankById(self.bankId,self);
      });
    },
    computed: {
      valutaArr() {
        return this.currBank.params.valutaArr;
      },
      getValutaObj() {
        return this.currBank.params.valuta;
      },
      getRes() {
        return this.getResult();
      }
    },
    methods: {
      getValutaName(name) {
        return Config.getCurrName(name);
      },
      getCurr(resolve) {
        let self = this;
        // http://simpl1.loc/app/curl.php
        // let url = 'http://'+Config.getUrl()+'/app/curl.php';
        let url = 'https://cors-anywhere.herokuapp.com/http://webcart.com.ua/app/curl.php';
        $.ajax({
          url: url,
          type: 'GET',
          dataType: 'json',
          headers: {"Access-Control-Allow-Origin":"http://"+Config.getUrl()+"/app/curl.php"},
          // contentType: 'application/json; charset=utf-8',
          success: function (result) {
            self.currs = result;
            console.log(result);
            resolve(result);
          },
          error: function (error) {
            console.log(error);
          }
        });
      },
      getBankById(bankId) {
        console.log(this.currBank);
        this.currBank =  _.find(this.currs, {id:bankId});
      },
      getResult() {
        let valutaObj = this.currBank.params.valuta;
        let from = this.selectedFrom == "" ? 'UAH': this.selectedFrom;
        let to = this.selectedTo == '' ? 'UAH' : this.selectedTo;
        let res = 0;

        if(from == 'UAH') {
          if(to == 'UAH') {
            res = Number(this.sum)
            return res.toFixed(2);
          } else {
            if (valutaObj[to] != undefined) {
              res = this.sum / valutaObj[to].ask;
              // console.log(typeof res);
              return res.toFixed(2);
            } else {
              return res.toFixed(2);
            }
          }
        } else {
          if (to == 'UAH') {
            if (valutaObj[from] != undefined) {
              res = this.sum * valutaObj[from].bid;
              return res.toFixed(2);
            } else {
              return res.toFixed(2);
            }
          } else {
            if (from == to) {
              res = Number(this.sum)
              return res.toFixed(2);
            } else {
              if (valutaObj[from] != undefined && valutaObj[to] != undefined) {
                res = this.sum * valutaObj[from].bid / valutaObj[to].ask;
                return res.toFixed(2);
              } else {
                return res.toFixed(2);
              }
            }
          }
        }
      }

    }

  }
</script>

<style>
  /*#app {*/
  /*  font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
  /*  -webkit-font-smoothing: antialiased;*/
  /*  -moz-osx-font-smoothing: grayscale;*/
  /*  text-align: center;*/
  /*  color: #2c3e50;*/
  /*  margin-top: 60px;*/
  /*}*/

  .vp1 {
    color: #42b983;
    padding-top: 10px;
  }
  .vp2 {
    /*color: darkgray;*/
    padding-top: 10px;
    background: gainsboro;
    height:3rem;
  }
  .vp3 {
    color: darkgray;
    padding-top: 10px;
    background: darkgray;
    height:3rem;
  }
  .col1 {
    background:antiquewhite;
    height:3rem;
    padding-top: 10px;
    margin-top: 3px;

  }
  .col2 {
    background: gainsboro;
    height:3rem;
    padding-top: 10px;
    margin-top: 3px;
  }
  .col2a {
    background: gainsboro;
    height:3rem;
    padding-top: 10px;
    text-align: center;
    margin-top: 3px;
    width: 100px;
  }
  .col2b {
    height:3rem;
    padding-top: 10px;
    text-align: center;
    margin-top: 3px;
    width: 100px;
  }
  .col3 {
    height:3rem;
    margin-top: 2px;
  }
  .col4 {
    color: dimgray;
    font-size: smaller;
  }
  .vpcol4:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
    background-color: darkseagreen; /* Цвет фона активного пункта */
    cursor: help;
  }
  .my-tytle {
    color: #42b983;
    background-color: gainsboro;
    height:3rem;
    padding-top: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  .my-box-body {
    border: 1px solid lightgray;
    border-radius: 4px;
    height:22rem;
    padding-right: -5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .vp4 {
    margin-top: 15px;
    margin-left: 20px;
  }
</style>
