<template>
  <div>
    <footer class="container">
      <br><hr>
      <br>
      <p>&copy; WebCart {{ firstYear }}-{{ currentYear }}</p>
    </footer>
  </div>
</template>

<script>
  // import UserService from '../UserService.js';

  export default {
    props: {
      userFirst: {
        type: Object
      }
    },
    data () {
      return {
        firstYear: 2017,
        currentYear: new Date().getFullYear(),
        // userSelected: {}
      }
    },
    created() {
      // UserService.$on("showUserService",(userSelected) => {
      //   this.userSelected = userSelected;
      // });
    },
    methods:{
      // showUser(){
      //   this.userStr = 'Hi! Vlad';
      // }
      // UserService.$on("showUser",(userOne) => {
      //   console.log(userOne);
      //   this.userFirst = userOne;
      // })
    }
  }
</script>
