<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" :href="'http://'+urlHome">WebCart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" v-bind:class="{ active: (page == 'home' ? true : false) }">
            <router-link class="nav-link" to="/">Мои проекты<span class="sr-only">(current)</span></router-link>
          </li>
          <li class="nav-item" v-bind:class="{ active: (page == 'culc' ? true : false) }">
            <router-link class="nav-link" to="/culc">Калькулятор валют<span class="sr-only">(current)</span></router-link>
          </li>
<!--          <li v-if="envar == 'local'" class="nav-item"  v-bind:class="{ active: (page == 'culcLoc' ? true : false) }">-->
<!--            <router-link class="nav-link" to="/culcLoc">Калькулятор Локальный<span class="sr-only">(current)</span></router-link>-->
<!--          </li>-->
          <li class="nav-item"  v-bind:class="{ active: (page == 'wether' ? true : false) }">
            <router-link class="nav-link" to="/wether">Погода<span class="sr-only">(current)</span></router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <p>{{envar}}</p>
        <p>{{urlHome}}</p>
      </div>
    </nav>
  </div>
</template>

<script>
  import Config from '../ConfigService.js';

  export default {
    props: ['page'],
    data () {
      return {
        urlHome: Config.getUrl(),
        envar: Config.envar,
        urlJuristLar: Config.getJuristLar()
      }
    },
    created() {
      // this.currs = Config.getUrl();
      // this.urlHome: Config.getUrl(),
    },
    methods: {
    }

  }
</script>
