<template>
  <div>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Проект создан в учебных целях</h1>
          <p>Ниже представлены ссылки на сайты, выполненные на Laravel 6, Symfony 3 и OpenCart в тестовых целях</p>
          <h4 style="color: coral">В разработке</h4>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>lar.webcart.com.ua</h2>
            <p id="my">Проект на Laravel 6</p>
            <p><a class="btn btn-secondary" :href="'http://'+urlJuristLar" role="button" target="_blank">Перейти &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>sf.webcart.com.ua</h2>
            <p>Проект на Symfony 3</p>
<!--            <p><a class="btn btn-secondary" href="http://jurist.sf/app_dev.php" role="button" target="_blank">Перейти &raquo;</a></p>-->
            <p><a class="btn btn-secondary" href="http://armis.org.ua" role="button" target="_blank">Перейти &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>shop.webcart.com.ua</h2>
            <p>Проект на Opencart</p>
            <p><a class="btn btn-secondary" href="http://shop.webcart.com.ua" role="button" target="_blank">Перейти &raquo;</a></p>
          </div>
        </div>
      </div> <!-- /container -->

    </main>
  </div>
</template>

<script>
  import $ from 'jquery';
  import Config from "../ConfigService";

  export default {
    data () {
      return {
        urlJuristLar: Config.getJuristLar(),
        envar: Config.getEnvar()
      }
    }
  }
</script>
