<template>
  <div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <h1 class="display-3">Обмен валют</h1>
        </div>
        <div class="row">
          <ul class="list-group list-group-horizontal" style="text-align: center">
<!--            <li class="list-group-item" v-for="item in currs">-->
<!--              <a href="#" @click.prevent="getBankById(item.id)">{{ item.params.title }}</a>-->
<!--            </li>-->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
<!--Сейчас-->
        <div class="col-lg-3">
          <div class="row">
            <div class="col-md-12">
              <h5 class="my-tytle">Погода <span>(Дата)</span></h5>
            </div>
          </div>
          <div class="my-box-body">
            <div style="height:1rem;">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-lg-4">Покупка</div>
                <div class="col-lg-4">Продажа</div>
              </div>
            </div>
            <div class="card-body col3">
              <div class="row">
                <div class="col-md-4 col1 vpcol4" ></div>
                <div class="col-lg-4 col2"></div>
                <div class="col-lg-4 col1"></div>
              </div>
            </div>
          </div>
        </div>
<!--Погода на 5 дней-->
        <div class="col-lg-9">
          <div class="row">
            <div class="col-md-12">
              <h5 class="my-tytle">Погода на 5 дней</h5>
            </div>
          </div>
          <div class="my-box-body">
            <div style="height:2rem;">
              <div class="row">
                <div class="col-md-4">Сдать</div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">Получить</div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col1 vpcol4">
<!--                <select v-model="selectedFrom">-->
<!--                  <option value="">UAH</option>-->
<!--&lt;!&ndash;                  <option v-for="val in valutaArr" :value="val">{{ val }}</option>&ndash;&gt;-->
<!--                </select>-->
              </div>
              <div class="col-lg-2 col2a"></div>
              <div class="col-lg-5 col1">
<!--                <select v-model="selectedTo">-->
<!--                  <option value="">UAH</option>-->
<!--&lt;!&ndash;                  <option v-for="val in valutaArr" :value="val">{{ val }}</option>&ndash;&gt;-->
<!--                </select>-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col1">
<!--                <input type="number" v-model="sum" style="width: 150px">-->
              </div>
              <div class="col-lg-2 col2a"></div>
              <div class="col-lg-5 col1">
<!--                <input type="text" :value="getRes" style="width: 150px">-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /container -->

  </div>
</template>

<script>
  export default {
  }
</script>

<style scoped>
  .vp1 {
    color: #42b983;
    padding-top: 10px;
  }
  .vp2 {
    /*color: darkgray;*/
    padding-top: 10px;
    background: gainsboro;
    height:3rem;
  }
  .vp3 {
    color: darkgray;
    padding-top: 10px;
    background: darkgray;
    height:3rem;
  }
  .col1 {
    background:antiquewhite;
    height:3rem;
    padding-top: 10px;
    margin-top: 3px;

  }
  .col2 {
    background: gainsboro;
    height:3rem;
    padding-top: 10px;
    margin-top: 3px;
  }
  .col2a {
    background: gainsboro;
    height:3rem;
    padding-top: 10px;
    text-align: center;
    margin-top: 3px;
    width: 100px;
  }
  .col2b {
    height:3rem;
    padding-top: 10px;
    text-align: center;
    margin-top: 3px;
    width: 100px;
  }
  .col3 {
    height:3rem;
    margin-top: 2px;
  }
  .vpcol4:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
    background-color: darkseagreen; /* Цвет фона активного пункта */
    cursor: help;
  }
  .my-tytle {
    color: #2c3e50;
    background-color: orange;
    height:3rem;
    padding-top: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
  }
  .my-box-body {
    border: 1px solid lightgray;
    border-radius: 4px;
    height:22rem;
    padding-right: -5px;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .vp4 {
    margin-top: 15px;
    margin-left: 20px;
  }
</style>
